#appliedapplicant-body {
  width: 70%;
  min-height:66vh;
  margin: 2% auto;
}

#appliedapplicant-body h2 {
  text-align: center;
  line-height: 3;
}
#appliedapplicant-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.2%;
  row-gap: 7%;
}

#Empty-message,
#loding-msg {
  text-align: center;
  height: 31vh;
  font-size: 3em;
  opacity: 0.4;
  z-index: -5;
  padding: 4%;
}
