#company {
  width: 70%;
  height: 100%;
  margin: 2% auto;
}
#company h2 {
  text-align: center;
  padding: 1.3%;
}

#search-posted-job {
  width: 70%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: 3.4fr 1fr;
  column-gap: 1.3%;
}
#search-posted-job input,
#search-posted-job button {
  padding: 1.3%;
}
#search-posted-job button {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}
#search-posted-job button:hover {
  opacity: 0.7;
}
#job-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.2%;
}
