* {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
#navbar-home {
  background-color: #8cabde;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  line-height: 2;
  justify-content: space-between;
  padding: 1%;
}
#logo {
  width: 20%;
  text-align: center;
}
#navlinks {
  width: 20%;
  margin: 0 3%;
  display: flex;
  justify-content: space-around;
}
#signup,
#login {
  border: 1.2px solid black;
  padding: 1.2%;
  width: 40%;
  text-align: center;
  border-radius: 25px;
}
#signup:hover {
  background-color: black;
  color: #fff;
}
#login {
  background-color: black;
  color: #fff;
}
#login:hover {
  background-color: #8cabde;
  color: #000;
}
