* {
  margin: 0;
}
#home-body {
  height: 75vh;
  background-color: #8cabde;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#tagline {
  padding: 40% 0;
}
#tagline h1 {
  font-size: 3em;
  text-align: center;
}
#tagline p {
  font-size: 1.3em;
  text-align: center;
  line-height: 2;
}
hero-img {
  width: fit-content;
}
#svg {
  transform: scale(0.6);
}
