#login-head {
  text-align: center;
  font-size: 2em;
  padding-top: 1%;
}
#login-form {
  width: 30%;
  margin: auto;
  padding: 1.5%;
}
#login-form input {
  width: 90%;
  padding: 2%;
}
#login-form select {
  padding: 1.4%;
}
.login-button,
#Login-with-google {
  background-color: #000;
  border: 1.2px solid #000;
  color: #fff;
  font-size: 1.2em;
  padding: 2%;
  border-radius: 25px;
  width: 30%;
  margin: 3% 30%;
  cursor: pointer;
}
#Login-with-google {
  padding: 1%;
  width: 20%;
  margin: 1.5% 40%;
}

.login-btn-noloading:hover,
#Login-with-google:hover {
  background-color: #fff;
  color: #000;
}
.loading-btn {
  background-color: #fff;
  border: 0;
}
#err-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f36e6e;
  width: 30%;
  margin: 3% auto 1%;
  padding: 0.5%;
  text-align: center;
}

.fa-xmark {
  color: #000;
  padding: 1.1%;
  cursor: pointer;
}
