#my-interview-body {
  width: 70%;
  height: 100%;
  margin: 2% auto;
}

#my-interview-body h2 {
  text-align: center;
  line-height: 3;
}
#interview-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.2%;
  row-gap: 7%;
}
